
<div class="box">
    <div class="msgPerfil">
        <div class="msgTitulo1">Hola! Configuraremos tu perfil</div>
        <div class="msgTitulo2">Queremos conocerte mejor</div>
    </div>
    <form (submit)="Guardar()" [formGroup]="form">
        <div class="cajaPerfil">
            <div class="imgPerfil">
                <app-imagen-perfil [usuarioRegistrado]="usuario_Perfil"  (archivoSeleccionado)="archivoSeleccionado($event)"></app-imagen-perfil>
            </div>
            <div class="infoPerfil">
                <div>          
                    <div>
                        <h2>Tu Información</h2>
                        <h5>Completa la siguiente información parar completar tu perfil</h5>
                    </div>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input formControlName="nombre" matInput />
                        <mat-error>El campo es requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-chip-list" appearance="outline">
                        <mat-label>Pasatiempos</mat-label>
                        <mat-chip-list #chipList aria-label="Seleccione pasatiempo">
                            <mat-chip
                            *ngFor="let hobie of hobies"
                            (removed)="remove(hobie)">
                            {{hobie}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                            </mat-chip>
                            <input
                            placeholder="Nuevo pasatiempo..."
                            #hobieInput
                            [formControl]="hobieCtrl"
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let hobie of filteredhobies | async" [value]="hobie">
                            {{hobie}}
                            </mat-option>
                        </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Cumpleaños</mat-label>
                            <input formControlName="cumpleanios" matInput  [matDatepicker]="dpicker" (dateChange)="setMayor18()" />
                            <mat-datepicker-toggle matSuffix [for]="dpicker"></mat-datepicker-toggle>
                            <mat-datepicker #dpicker></mat-datepicker>
                            <mat-error>El campo es requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Documento</mat-label>
                            <input formControlName="documento" matInput mask="00000000-0" [required]="mayor18"/>
                            <mat-error>El campo es requerido</mat-error>
                        </mat-form-field>
                </div>
                <div class="footerPerfil">
                    <button mat-flat-button color="primary" [disabled]="form.invalid">Continuar</button>
                </div>  
            </div>   
        </div>  
    </form> 
</div>

