

mat-form-field {
    width: 100%;
}

button {
    margin-right: 1rem;
}


.box {
    max-width: 60%;
    min-width: 700px;
    JUSTIFY-CONTENT: start;
    FLEX-DIRECTION: column;
}

form {
    DISPLAY: FLEX;
    padding-left: 50px;
}

.msgPerfil {
    padding-top: 50px;
    padding-left: 50px;
}

.imgPerfil {
    display: flex;
    width: 50%;
    height: 600px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.infoPerfil {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
    justify-content: center;
}

.infoPerfil h2 {
    color: blue;
    font-weight: lighter;
}

.infoPerfil h5 {
    color: grey;
    font-weight: lighter;
}


.cajaPerfil {
    display: flex;
}

.footerPerfil {
    align-content: center;
}

.msgTitulo1 {
    color: darkblue;
    font-size: 23px;
    font-weight: bold;
}

.msgTitulo2 {
    padding-top: 15px;
    color: gray;
    font-size: 13px;
}