.imgPokemon {
    width: 120px;
}

#matToolbar {
    background-color: white;
}

.nav {
    display: flex;
}

.lnkRegister {
    display: flex;
    font-size: 13px;
    align-items: center;
    margin-right: 15px;
}